.benefit {
    display: flex;
    flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
    &__container {
        max-width: 100%;
        width: 1216px;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
.title {
    display: flex;
width: 100%;
padding: 64px 0 64px ;
flex-direction: column;
align-items: center;
gap: 16px;
align-self: stretch;
text-align: center;
font-family: var(--font-apparat);
font-size: 48px;
font-style: normal;
font-weight: 450;
line-height: 115%; /* 55.2px */
letter-spacing: -0.96px;
background: linear-gradient(92deg, #FFE9DA 38.15%, #FF77D1 91.81%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    @media (max-width: 768px) {
font-size: 24px;
max-width: 91vw;
padding: 0;
padding-bottom: 24px;
margin-right: 16px;
margin-left: 16px;
}
@media (min-width: 768px) and (max-width: 1224px) {
    font-size: 48px;
}
}
.body {
    border: red !important;
    display: flex;
height: 480px;
padding-left: 150px;
padding-right: 110px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
align-self: stretch;
.content {
    display: flex;
width: 1216px;
height: 480px;
padding: 10px;
align-items: flex-start;
position: absolute;
left: 112px;
border-radius: 20px;
background: linear-gradient(180deg, rgba(14, 10, 15, 0.00) 11.46%, #0E0A0F 100%);
background: url("../../../assets/benefit.webp");
}
}
    }
&__image {
width: 100%; //   width: 84.4vw;
height: 480px;// aspect-ratio: 1216/480;
  display: flex;
  padding: 10px;
  align-items: flex-end;
  border-radius: 20px;
  background: 
    linear-gradient(180deg, rgba(14, 10, 15, 0) 11.46%, #0E0A0F 100%),
    url("../../../assets/benefit.webp");
  background-size: cover;
  background-position: center;
    @media (max-width: 768px) {
width: 100%;
padding: 0;
}
@media (min-width: 768px) and (max-width: 1224px) {
}
.vision {
display: flex;
flex-direction: column;
gap: 6px;
padding-left: 38px;
padding-bottom: 48px;
padding-right: 40px;
    @media (max-width: 768px) {
padding: 0;
padding-bottom: 14px;
padding-left: 14px;
padding-right: 14px;
width: 100%;
}
@media (min-width: 768px) and (max-width: 1224px) {
    font-size: 18px;
}

    &__label {
      color: #FCF5FE;
font-family: var(--font-apparat);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.32px;
      @media (max-width: 768px) {
font-size: 16px;
}
@media (min-width: 768px) and (max-width: 1224px) {
    font-size: 18px;
    width: 100%;
}
      @media (min-width: 1024px) {
font-size: 16px;
}
    }

    &__description {
        color: #FCF5FE;
font-family: var(--font-apparat);
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.56px;
width: 1138px;
    @media (max-width: 768px) {
font-size: 16px;
    width: 100%;

}
@media (min-width: 768px) and (max-width: 1224px) {
    font-size: 28px;
    width: 100%;
}
    }}}
}