.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__container {
        display: flex;
        width: 1200px;
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--item-spacing-l, 48px);
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        align-self: stretch;
        flex-wrap: wrap;
        padding: 0 16px;
    }
    &__left {
        width: 58%;
        gap: 14px;
        display: flex;
        flex-direction: column;
    }
    .blog__card-container:last-child {
  margin-right: 0 !important;
}

    &__title {
        color: #FFF;
            font-family: var(--font-apprat);
        font-size: 48px;
        font-style: normal;
        font-weight: 450;
        line-height: 115%; /* 55.2px */
        letter-spacing: -0.96px;
        width: 100%;
    }
    &__subtitle {
        color: #FFF;
            font-family: var(--font-apprat);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.48px;
        width: 100%;

    }
    &__right {
        color: #FFF;
            font-family: var(--font-apprat);
        font-size: 16px;
        font-style: normal;
        font-weight: var(--font-weight-400, 400);
        line-height: normal;
        letter-spacing: -0.32px;
        margin: auto 0;
        width: 30%;
    }
    &__carousel {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .first {
    }

    &__swiper {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    &__card-container {
        display: flex;
        width: 100%;
    }
    .swiper-wrapper {
        display: flex;
        width: 100%;
    }
    &__image {
        // height: 250.974px;
        height: 100%;
        max-width: 474.564px;
        max-height: 310.164px;
        align-self: stretch;
        aspect-ratio: 384.00/250.97;
        display: block;
    }
    &__card {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        border-radius: 16px;
        border: var(--stroke-weight-1, 1px) solid rgba(229, 231, 235, 0.10);
        background: rgba(247, 249, 250, 0.10);
        width: 100%;
        height: auto;
    }
    &__text {
        display: flex;
        padding: 24px 20px 20px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
        align-self: stretch;
        .title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            color: #FFF;
            font-family: var(--font-apprat);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -0.32px;
            align-self: stretch;
        }
        .subtitle {
            color: #FFF;
            font-family: "Inter Display";
            font-size: var(--font-size-14, 14px);
            font-style: normal;
            font-weight: var(--font-weight-400, 400);
            line-height: var(--line-height-20, 20px); /* 142.857% */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
        }
    }
        &__button {
            margin-top: 24px;
      width: auto; // 206px
      display: flex;
      height: 46px; // 46px
      padding: 0 40px; // 40px
      justify-content: center;
      align-items: center;
      gap: 8px; // 8px
border-radius: 6px;
background: #FF89D2;
box-shadow: 0 0 9px 1px #F1D2FC inset;
      cursor: pointer;
    margin-bottom: 53px;

      .text {
        color: #0E0A0F;
        font-family: var(--font-apparat);
        font-size: 16px; // 16px
        font-weight: 500;
        line-height: normal;
      }

      .arrow {
        width: 16px; // 16px
        height: 16px;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    .blog__pagination {
  display: flex;
  justify-content: center;
  height: 8px;
  position: relative;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  width: 100%;
  height: 8px;
  z-index: 10;
  gap: 2px;


  .swiper-pagination-bullet {
width: 8px;
height: 8px;
background: rgba(255, 255, 255, 0.60);   

    border-radius: 4px;
  }

  .swiper-pagination-bullet-active {
width: 8px;
height: 8px;
    background: #FF89D2;
    border-radius: 4px;
  }
}

        @media (max-width: 1023px)  {
            &__title {
color: #FFF;
font-family: var(--font-apparat);
font-size: 24px;
font-style: normal;
font-weight: 450;
line-height: 115%; /* 27.6px */
letter-spacing: -0.48px;    
        }
&__subtitle {
    display: none;
    font-size:  14px;
}
&__header {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    gap: 14px;
    padding: 0 16px;
}
&__container {
}

&__left {
    width: 100%;
}
&__right {
    width: 100%;
}
&__image {
        height: 183.002px;
max-width: 474.564px;
max-height: 310.164px;
   align-self: stretch;
   width: 100%;

img {
width: auto;
height: 100%;
align-self: stretch;
display: block;
aspect-ratio: 280.00/183.00;
}
}
    .last {
        margin-right: 16px;
    }
&__card-container {
    width: min-content !important;

}
.blog__card-container:first-child {
    margin-left: 16px !important;
}
&__card {
    width: min-content !important;
    .subtitle {
        -webkit-line-clamp: 3;
    }
}
&__button {
    width: calc(100% - 32px);

}
&__text {
.title .subtitle {
    width: 240px;
}}
}
@media (min-width: 1024px) {
    &__carousel {
        padding: 0 16px;
    }
}
}

