.customer3 {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &__body {
        display: flex;
width: 1280px;
padding: 36px;
justify-content: center;
align-items: flex-start;
gap: 24px;
border-radius: 16px;
background: rgba(68, 49, 73, 0.10);
    }
    
}