.diagram3 {
  width: 100%;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
  &__container {
    margin-top: 36px;
    display: flex;
    width: 1200px;
    max-width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;

    @media (max-width: 767px) {
      width: 100%;
      gap: 24px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      gap: 24px;
    }
  }

  &__1 {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 275px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #2c2d47;
    background: linear-gradient(
      95deg,
      rgba(27, 28, 54, 0.16) 1.58%,
      rgba(112, 113, 122, 0.16) 88.87%
    );
    backdrop-filter: blur(5.85px);

    @media (max-width: 767px) {
    width: 100%;
height: 415px;
display: flex;
flex-direction: column;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
    width: 100%;
    height: 415px;
display: flex;
flex-direction: column;
    }

    .left {
      padding-left: 40px;
      margin-top: auto;
      margin-bottom: auto;
      width: 505px;
      display: flex;
      flex-direction: column;
      gap: 17px;

      @media (max-width: 767px) {
        width: 100%;
        padding-left: 24px;
        padding-top: 18px;
        padding-right: 6px;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        width: 702px;
  display: flex;
padding: 36px 28px;
// flex-direction: column;
// align-items: flex-start;
// gap: 23px;
flex-shrink: 0;
      }

      .title {
        color: #fff;
        font-family: var(--font-apparat);
        font-size: 24px;
        font-weight: 450;
        letter-spacing: -0.48px;

        @media (max-width: 767px) {
          font-size: 18px;
        }
      }

      .subtitle {
        color: #afb3ca;
        font-family: var(--font-apparat);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;

        @media (max-width: 767px) {
          font-size: 14px;
        }
      }
    }

    .brand {
      position: relative;


      &__decoration {
        position: relative;
        width: 574px;
        height: 573px;
        flex-shrink: 0;
        z-index: 1;
     
  }

      &__circle {
        position: absolute;
        border-radius: 50%;

        &--outer {
          width: 574px;
          height: 573px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: rgba(255, 56, 187, 0.16);
        }

        &--middle {
          width: 401px;
          height: 400px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: rgba(255, 56, 187, 0.16);
        }
      }

      &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 249px;
        height: 239px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 56, 187, 0.6);
        border-radius: 50%;
        z-index: 3;

        svg {
          width: 160px;
          height: 160px;
          flex-shrink: 0;
          fill: gray;
        }
      }

      @media (max-width: 767px) {
        // position: relative;
        display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

        &__decoration {
          width: 361.62px;
          height: 360.99px;
              bottom: -23px;

        }

        &__circle {
          &--outer {
            width: 361.62px;
            height: 360.99px;
          }

          &--middle {
            width: 252.63px;
            height: 252px;
          }
        }

        &__icon {
          width: 156.87px;
          height: 150.57px;

          svg {
            width: 100.8px;
            height: 100.8px;
          }
        }
      }
             @media (min-width: 768px) and (max-width: 1024px) {
        position: relative;
              display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;


        &__decoration {
          width: 361.62px;
          height: 360.99px;

        }

        &__circle {
          &--outer {
            width: 361.62px;
            height: 360.99px;
          }

          &--middle {
            width: 252.63px;
            height: 252px;
          }
        }

        &__icon {
          width: 156.87px;
          height: 150.57px;

          svg {
            width: 100.8px;
            height: 100.8px;
          }
        }
      }
      @media (min-width: 1025px) {
           bottom: 150px;
    right: -87px;  
      }

    }
  }

  &__2 {
       width: 100%;

    .container {
      display: flex;
      gap: 24px;
      padding: 0;
      width: 100%;

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        padding: 0;
      }
              @media (
          (min-width: 768px) and (max-width: 1024px)) {
        display: flex;
        flex-direction: column;
          }

      .item {
        display: flex;
        width: calc((100% - 24px)/2);
        height: 464px;
        padding: 36px 28px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border-radius: 20px;
        border: 1px solid #2c2d47;
        background: linear-gradient(
          137deg,
          rgba(27, 28, 54, 0.16) 23.98%,
          rgba(112, 113, 122, 0.16) 65.73%
        );
        backdrop-filter: blur(5.85px);

        @media (max-width: 767px) {
          width: 100%;
          margin-right: 14px;
          display: flex;
          padding: 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 23px;
          align-self: stretch;
          height: auto;
        }
        @media (
          (min-width: 768px) and (max-width: 1024px)) {
width: 100%;
          }

        .img-container {
          display: flex;
          justify-content: flex-end;

          .diag-2-img {
            width: 434px;
            height: auto;
          }
        }

        .title-container {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 12px;
          align-self: stretch;

          .title {
            color: #fff;
            font-family: var(--font-apparat);
            font-size: 24px;
            font-weight: 450;
            letter-spacing: -0.48px;
            align-self: stretch;
          }

          .subtitle {
            color: #afb3ca;
            font-family: var(--font-apparat);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            align-self: stretch;
          }
        }
      }
    }
  }

  &__3 {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .container {
      width: 100%;
      height: auto;
      flex-shrink: 0;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #2c2d47;
      background: linear-gradient(
        95deg,
        rgba(27, 28, 54, 0.16) 1.58%,
        rgba(112, 113, 122, 0.16) 88.87%
      );
      backdrop-filter: blur(5.85px);
      padding: 0;

      @media (max-width: 767px) {
        width: 100%;
      }

        @media (
          (min-width: 768px) and (max-width: 1024px)) {
          }

      .content {
        width: 100%;
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;

        @media (max-width: 767px) {
          flex-direction: column;
          align-items: flex-start;
          padding: 24px;
          gap: 23px;
        }

        .left {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 17px;
          margin-top: auto;
          margin-bottom: auto;

          .title {
            color: #fff;
            font-family: var(--font-apparat);
            font-size: 24px;
            font-weight: 450;
            letter-spacing: -0.48px;

            @media (max-width: 767px) {
font-size: 24px;            }

            @media (min-width: 768px) and (max-width: 1024px) {
              font-size: 16px;
            }
          }

          .subtitle {
            color: #afb3ca;
            font-family: var(--font-apparat);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            width: 100%;

            @media (max-width: 767px) {
              font-size: 16px;
            }

            @media (min-width: 768px) and (max-width: 1024px) {
              font-size: 16px;
            }
          }
        }

        .right {
          width: 100%;
          display: flex;
          justify-content: flex-end;

          img {
            width: 100%;
            max-width: 484px;
            height: auto;
          }

          @media (max-width: 767px) {
            justify-content: flex-start;
          }
        }
      }
    }
  }
}
