.feature {
    &__container {
        width: 100vw;
        display: flex;
padding-top: 64px;
padding-bottom: 64px;
flex-direction: column;
align-items: center;
gap: 16px;
    @media (max-width: 767px) {
padding-top: 32px;
padding-bottom: 32px;
}
@media (min-width: 768px) and (max-width: 1224px) {
}
.title {
    align-self: stretch;
    text-align: center;
font-family: var(--font-apparat);
font-size: 48px;
font-style: normal;
font-weight: 450;
line-height: 115%; /* 55.2px */
letter-spacing: -0.96px;
background: linear-gradient(92deg, #FFE9DA 38.15%, #FF77D1 91.81%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
@media (max-width: 767px) {
    font-size: 24px;
}
@media (min-width: 768px) and (max-width: 1023px) {
    font-size: 48px;
}
}
.subtitle {
    color: #F8E9FE;
text-align: center;
font-family: var(--font-apparat);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.32px;
width: 760px;
@media (max-width: 767px) {
    font-size: 14px;
    width: 343px;
}
@media (min-width: 768px) and (max-width: 1224px) {
width: 772px;
}
}
.body {
    display: flex;
padding: 32px 0;
flex-direction: column;
align-items: flex-start;
gap: 32px;
@media (min-width: 768px) and (max-width: 1023px) {
    gap: 16px;
}
.row {
    display: flex;
align-items: flex-start;
gap: 32px;
@media (min-width: 768px) and (max-width: 1023px) {
    gap: 16px;
}
.item {
    aspect-ratio: 370/208;
    max-width: 370px;
    display: flex;
padding: 32px;
flex-direction: column;
justify-content: center;
align-items: flex-start !important;
border:  solid red;;
text-align: left !important;
border-radius: 12px;
border: 1px solid rgba(78, 54, 86, 0.80);
background: linear-gradient(150deg, #0E0A0F 17.18%, #443149 227.36%);
@media (max-width: 767px) {
    max-width: 343px;
}
  .title, .subtitle {
    text-align: left; // overrides inherited center
  }
.star {
    display: flex;
padding: 8px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: rgba(68, 49, 73, 0.36);
}
.title-small {
    margin-top: 24px;
    flex-direction: flex-start;
   align-self: stretch; 
   color: #FFF;
font-family: var(--font-apparat);
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.36px;
text-transform: uppercase;
    max-width: 100%;
    @media (max-width: 767px) {
font-size: 18px;}
@media (min-width: 768px) and (max-width: 1023px) {
    font-size: 18px;
}
}
.subtitle {
    margin-top: 14px;
    max-width: 100%;
    color: #AFB3CA;
font-family: var(--font-apparat);
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: red;
    @media (max-width: 767px) {
font-size: 15px;}
}
}
}
}
    }
}