.footer_mobile {
        display: flex;
    flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 100%;
    &__container {
    display: flex;
width: 100%;
padding: 24px 16px 40px 16px;
flex-direction: column;
align-items: left;
gap: 32px;
height: 843px;
background-color: black;
height: auto;
    }
    &__head {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
align-self: stretch; 
.r1 {
    img {
            width: 192.9907px;
    height: 26px;
    object-fit: contain;
    }
}
.r2{
    color: #FFF;
font-family: var(--font-display);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: stretch;
}
    }
    &__contact {
        text-align: left;
        color: #FFF;
font-family: var(--font-apparat);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
    &__line {
        height: 1px;
align-self: stretch;
background: rgba(255, 255, 255, 0.10);
width: 91vw;
    }
    &__navigation {
        display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
.col {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 32px;
.row {
    display: flex;
align-items: center;
gap: 8px;
align-self: stretch;
cursor: pointer;

.text {
    color: #FFF;
font-family: var(--font-apparat);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.arrow {
    margin-bottom: 9px;
    width: 12px;
height: 12px;
aspect-ratio: 1/1;
}
}}
    }
    &__policy-container {
        display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 14px;
.row {
    display: flex;
align-items: center;
gap: 8px;
align-self: stretch;
cursor: pointer;

.text {
   color: #888;
font-family: var(--font-apparat);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.arrow {
    margin-bottom: 9px;
    width: 12px;
height: 12px;
aspect-ratio: 1/1;
svg {
stroke: #888;
fill: #888;
}
}
}}

&__headline {
  width: 100%;
  max-width: 1249px;
  aspect-ratio: 1249/305;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;


img {
  width: 100%;
  height: auto;
  display: block;
}
}
&__company {
   color: #888;
font-family: var(--font-display);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal; 
flex: 1 0 0;
}
}

