.footer {
    background-color: black;
// 📱 Tablet
@media (min-width: 768px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
align-items: flex-start;
flex-direction: column;
}
    .upper {
display: flex;
width: 91vw;
height: 303px;
// padding: 60px 64px 0 64px;
padding-top: 64px;
padding-bottom: 0;
margin-left: 4.5vw;
margin-right: 4.5vw;
//margin-right: 64px;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
// background: linear-gradient(180deg, rgba(68, 49, 73, 0.20) 0%, rgba(14, 10, 15, 0.00) 100%);
.left {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 24px;
flex: 1 0 0;
margin-left: 0;
.title {
    display: flex;
padding-right: 12.866px;
align-items: center;
gap: 9.577px;
}
.subtitle {
    color: #FFF;
font-family: "Inter Display";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
align-self: stretch;
}
}
.right {
    margin-left: auto;
    display: flex;
align-items: flex-start;
gap: 120px;

.col {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 32px;
.item {
    display: flex;
align-items: center;
gap: 8px;
align-self: stretch;
.text {
    color: #FFF;
            font-family: var(--font-apparat);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.arrow {
    width: 12px;
height: 12px;
aspect-ratio: 1/1;
}
}
}
}
    }
    .bottom {
        width: 100vw;
height: 439px;
padding: 0 56px 20px 56px;
justify-content: space-between;
align-items: flex-end;
align-self: stretch;
display: flex;
flex-direction: column;
.headline {
            font-family: var(--font-apparat);
font-size: 14.7vw;
font-style: normal;
font-weight: 400;
line-height: normal;
background: linear-gradient(180deg, #714C7D 18%, rgba(14, 10, 15, 0.00) 89.29%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: flex;
justify-content: flex-start;
margin-left: 0;
}
.end {
    display: flex;

.company {
    color: #888;
font-family: "Inter Display";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
flex: 1 0 0;
margin-left: 0;
}
.policy {
    display: flex;
align-items: center;
gap: 36px;
.item {
    display: flex;
align-items: center;
gap: 8px;
.text {
    color: #888;
            font-family: var(--font-apparat);
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.arrow {
    width: 12px;
height: 12px;
aspect-ratio: 1/1;
}
}
}
}
    }
}