.hero_mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;

    &__container {
        margin-top: 101px;
        min-height: 515px;
        margin-left: 0;
        width: 100%;
        background-image:
            url("../../../assets/hero-top.svg"), ;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 375px auto;
        padding-bottom: 0;
        height: auto;

    }

    .hero-mobile__image {
        width: 100%;
        height: 106.24px;
        overflow: hidden; // ẩn phần bị tràn
        display: flex;
        justify-content: center;
        align-items: start; // giữ ảnh bắt đầu từ trên cùng

        img {
            width: 375px;
            height: auto;
            object-fit: cover;
            transform: translateY(-110px); // dịch ảnh lên 50px để cắt phần trên
        }
    }




    .content {
        height: auto;

        .hero-mobile__content {
            width: calc(100% - 32px);
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            align-self: stretch;
            margin: 0 auto;

            .category {
                margin-top: 93px;
                display: flex;
                padding: 4px 6px;
                align-items: center;
                gap: 8px;
                border-radius: 122px;
                background: rgba(255, 255, 255, 0.10);

                .new {
                    display: flex;
                    padding: 2px 12px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 200px;
                    background: #AF2ECB;
                    box-shadow: 0 0 3px 0 #F1D2FC inset;
                    color: #FFF;
                    font-family: var(--font-apparat);
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .text {
                    color: #FFF;
                    font-family: var(--font-apparat);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            .title {
                margin: 0;
                width: auto;
                text-align: center;
                font-family: var(--font-apparat);
                font-size: 20px;
                font-style: normal;
                font-weight: 450;
                line-height: 115%;
                letter-spacing: -1px;
                align-self: stretch;
                background: linear-gradient(92deg, #FFE9DA 38.15%, #FF77D1 91.81%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                height: auto;
            }

            .subtitle {
                margin-left: auto;
                margin-right: auto;
                max-width: 335px;
                color: #AFB3CA;
                text-align: center;
                font-family: var(--font-apparat);
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.26px;
                align-self: stretch;
            }
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin: 31.77px auto 0;
        padding: 0 20px;
        border-radius: 8px;
        background: rgba(255, 137, 210, 1);
        cursor: pointer;
        transition: all 0.3s ease;
        width: fit-content;
        height: 46px;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 12px rgba(255, 233, 218, 0.4);
        }

        .text {
            color: #0E0A0F;
            font-family: var(--font-apparat);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .arrow {
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                margin-top: 2px;
            }
        }
    }
}