.hero_mobile {
        display: flex;
    flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
    &__container {
        margin-top: 101px;
        min-height: 515px;
        margin-left: 0;
        width: 100vw;
        background-image: 
            url("../../../src/assets/hero-top.svg"),
            url("../../../src/assets/hero-bot.svg");
        background-repeat: no-repeat;
        background-position: top center, center calc(50% + 20px);
        background-size: 375px auto, 375px auto;
        padding-bottom: 0;
        height: auto;
    }

    .content {
        .hero-mobile__content {
            width: 335px;
            height: 191px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            align-self: stretch;

            .category {
                margin-top: 93px;
                display: flex;
                padding: 4px 6px;
                align-items: center;
                gap: 8px;
                border-radius: 122px;
                background: rgba(255, 255, 255, 0.10);
                
                .new {
                    display: flex;
                    padding: 2px 12px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border-radius: 200px;
                    background: #AF2ECB;
                    box-shadow: 0 0 3px 0 #F1D2FC inset;
                    color: #FFF;
                    font-family: var(--font-apparat);
                    font-size: 11px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                
                .text {
                    color: #FFF;
                    font-family: var(--font-apparat);
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            
            .title {
                margin: 0;
                width: auto;
                text-align: center;
                font-family: var(--font-apparat);
                font-size: 32px;
                font-style: normal;
                font-weight: 450;
                line-height: 115%;
                letter-spacing: -1.6px;
                align-self: stretch;
                background: linear-gradient(92deg, #FFE9DA 38.15%, #FF77D1 91.81%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                height: 80px;
            }
            
            .subtitle {
                width: auto;
                color: #AFB3CA;
                text-align: center;
                font-family: var(--font-apparat);
                font-size: 13px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.26px;
                align-self: stretch;
            }
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        margin: 232px auto 0;
        padding: 0 20px;
        border-radius: 8px;
        background: rgba(255, 137, 210, 1);
        cursor: pointer;
        transition: all 0.3s ease;
        width: fit-content;
        height: 46px;
        
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 12px rgba(255, 233, 218, 0.4);
        }
        
        .text {
            color: #0E0A0F;
            font-family: var(--font-apparat);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        
        .arrow {
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            svg {
 margin-top: 2px;
            }
        }
    }
}