.customer {


    &__container {
        padding-top: 46px;
display: flex;
width: 100vw;
padding-bottom: 64px;
flex-direction: column;
align-items: center;
gap: 32px;
      @media (max-width: 812px) {
display: flex;
width: 100vw;
padding: 0 16px 32px 16px;
flex-direction: column;
align-items: center;
gap: 24px;
    }
@media (min-width: 768px) and (max-width: 1023px) {
}
      @media (min-width: 1024px) {
font-size: 16px;
}

    }
    .rfm-marquee-container {
        margin-right: 0;
        margin-left: 0;
    }
    &__margin {
        margin-right:  1px ;
              @media (max-width: 767px) {
margin-right: 1px;
    }
    }
.customer__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}

.customer__title {
  color: #FCF5FE;
  font-family: var(--font-apparat);
  font-size: 18px;
  font-weight: 450;
  line-height: 160%;
  text-transform: uppercase;
  padding: 4px 12px;
      @media (max-width: 812px) {
        color: rgba(252, 245, 254, 0.60);
  font-family: var(--font-apparat);
font-size: 15px;
font-style: normal;
font-weight: 450;
line-height: 160%; /* 24px */
text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1023px) {
}
      @media (min-width: 1024px) {
}
}

    &__marquee {
margin-right: 97.691px;
        width: 100%;
        @media (max-width: 1024px) {
            gap: 60px;
        }

        @media (max-width: 812px) {
margin-right: 24px;        }
    }
    &__line {
                display: flex;
        align-items: center;
        gap: 97.691px;
        justify-content: center;
        width: auto;
        height: 80px;
        @media (max-width: 1024px) {
            gap: 60px;
        }

        @media (max-width: 767px) {
            gap: 24px;
            height: 60px;
        }
    }

    &__item {
        display: flex;                              
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        height: 100%;
        @media (max-width: 767px) {
            padding: 0;
        }
        svg {
            width: 100%;
            height: 100%;
            transform: scale(0.75);
        }
        img {
            transform: scale(0.75);
        }
    }
        &__show {
        svg {
            height: 60px;
            transform: scale(0.45);
            bottom: -2px;
        }
        }

    &__star {
        width: 56.986px;
        height: 40.705px;
        fill: #888;
        flex-shrink: 0;

        // @media (max-width: 1024px) {
        //     width: 45px;
        //     height: 32px;
        // }

        // @media (max-width: 812px) {
        //     width: 35px;
        //     height: 25px;
        // }
    }

}
