.unlock {
      display: flex;
    flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
  // 💻 Desktop
  @media (min-width: 1025px) {
    }
  

  // 📱 Tablet
  @media (min-width: 768px) and (max-width: 1024px) {
    .unlock__container {
      padding-top: 32px;
      padding-bottom: 64px;
      width: 1220px; // 84.7vw → 1220px
      aspect-ratio: 1440/560;
      justify-content: center;
      align-items: center;
      margin-left: 110px; // 7.6vw → 110px
    }
  }

  // 📱 Mobile
  @media (max-width: 812px) {
    .unlock__container {
      display: none;
    }
  }

  &__container {
    display: flex;
    width: 1220px;
    height: auto;
    padding-top: 32px;
    padding-bottom: 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    aspect-ratio: 1440/560;
    margin: 0 auto;
  }

&__content {
  display: flex;
  padding: 54px 64px 38px 64px;
  align-items: center;
  gap: 36px;
  flex: 1 0 0;
  border-radius: 24px;
  background: 
    url("../../assets/Ellipse3.webp") no-repeat left 741px top 327px,
    linear-gradient(145deg, #130F14 20.69%, #443149 185.46%);
}

  &__half {
    display: flex;
    width: 678px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .category {
      color: rgba(248, 233, 254, 0.8);
      font-family: var(--font-apparat);
      font-size: 16px; // 1.1vw → 15.84px ≈ 16px
      font-weight: 500;
      letter-spacing: -0.32px;
      align-self: stretch;
    }

    .title {
      font-family: var(--font-apparat);
      font-size: 48px; // 3.3vw → 47.52px ≈ 48px
      font-weight: 500;
      line-height: 115%; /* 55.2px */
      letter-spacing: -0.96px;
      width: 582px;
      background: linear-gradient(
        92deg,
        #fff 44.83%,
        rgba(228, 160, 247, 0.9) 92.6%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .subtitle {
      color: rgba(248, 233, 254, 0.8);
      font-family: var(--font-apparat);
      font-size: 16px; // 1.1vw → 15.84px ≈ 16px
      font-weight: 500;
      letter-spacing: -0.32px;
      width: 582px;
    }

    .button {
      display: flex;
      height: 46px;
      padding: 0 20px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 6px;
      background: #af2ecb;
      box-shadow: 0 0 9px 1px #dc7ff3 inset;
      cursor: pointer;

      .text {
        color: #fff;
        font-family: var(--font-apparat);
        font-size: 16px;
        font-weight: 400;
      }

      .arrow {
        width: 16px;
        height: 16px;
        aspect-ratio: 1/1;
      }
    }
  }

  &__half-1 {
    position: relative;
    overflow: visible;
    width: 400px;
    height: 400px;
    background: url("../../../assets/chart.webp");

    // 📱 Tablet
    @media (min-width: 768px) and (max-width: 1024px) {
      display: none;
    }
  }

&__glow-container {
  position: relative;
  width: 300px;
  
  .glow {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    pointer-events: none;
    background: url("../../../assets/Ellipse.webp");
    background-size: 300%; // 3 times bigger
    background-repeat: no-repeat;
    background-position: center;
  }
}



  .chart {
    // margin-left: auto;
  }
}
